# Ambiente
.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Ferramentas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.dmypy.json

# IDE / SO
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Dados locais
*.db
*.sqlite3
postgres-data/
